.testimonialContainer {
  /* display: flex;
  align-items: center; */
  margin: 50px auto;
  max-width: 1100px;
}

.testim0nalcard {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  background: #000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0);
}

.sliderWrapper .slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slick-track {
  display: flex !important;
  align-items: center;
}

.sliderWrapper .slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px; /* compensates outer margins */
}
.testimonal_thumbnail {
  position: relative;
  background: url("/assets/home/testimonial_bg.jpg") center center / contain no-repeat;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
}
/* .videoPlayer {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  object-fit: contain;
} */
.playbtn {
  width: 78px;
  height: 78px;
  padding: 10px;
  background-color: #b20a0a;
  border-radius: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.playbtn:hover {
  transform: scale(1.1);
}

.testimonal_video {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  overflow: hidden;
  background: #000;
}

.testimonal_video video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 12px;
}

.closeButton {
    position: absolute;
    top: -20px;
    right: -20px;
    background: white;
    color: #333;
    border-radius: 50%;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    z-index: 100;
}
    .sectionTitle {
        font-size: 56px;
    }
.closeButton:hover {
    background-color: #ff4d4d;
    color: white;
    transform: scale(1.1) rotate(90deg);
}

@media (width < 576px) {
  .testimonialContainer{
    width: 80% !important;
  }
  .playbtn {
    width: 75px;
    height: 75px;
    padding: 28px;
    padding-top: 15px;
  }
}
@media (width < 480px) {
  .testimonialContainer{
    width: 90% !important;
  }
}